{% extends 'ui_base.html' %}
{% block header %} PAAPAS Home {% endblock %}
{% block body %}
<h2> Available actions: </h2>
<ul>
{% for option in options %}
    <li> <a href="{{ url_for('ui.add', add_type=option) }}"> Add {{ option }} </a> </li>
{% endfor %}
    <li> <a href="{{ url_for('data.home') }}"> "Big Data" Browser </a> </li>
</ul>

<h2> Current Reminders: </h2>
<ul>
{% for reminder in reminders %}
    <li> {% for field in options['reminder'] %} {{ field.capitalize() }}: {{ reminder[field] }} <br> {% endfor %}
        <a href="{{ url_for('ui.remove', item_type='reminder',item_id=reminder['_id']) }}"> Remove </a>
    </li>
{% endfor %}
</ul>

<h2> Current Todos: </h2>
<ul>
{% for todo in todos %}
    <li> {% for field in options['todo'] %} {{ field.capitalize() }}: {{ todo[field] }} <br> {% endfor %}
        <a href="{{ url_for('ui.remove', item_type='todo',item_id=todo['_id']) }}"> Remove </a>
    </li>
{% endfor %}
</ul>

<h2> Micro Habits: </h2>
<ul>
{% for habit in micro %}
    <li> {% for field in options['micro-habit'] %} {{ habit[field] }} <br> {% endfor %}</li>
{% endfor %}
</ul>
{% endblock %}